.item-image{
  height: 100px;
  width: 100px;
  /* 縦横比を保ったまま、画像を縦横100pxのサイズに収めるプロパティです */
  object-fit: contain;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100px;
}

.main-image {
  height: 200px;
  width: 200px;
}

.preview-size{
  height: 150px;
  width: auto;
}